# =========================================
# Langat Kevin - CCNA Labs Git Ignore File
# =========================================

# OS-Specific Files
.DS_Store
Thumbs.db
desktop.ini
__MACOSX/

# Packet Tracer temporary or backup files
*.pkb
*.pks

# Backup and temp files
*.bak
*.tmp
*.swp
*.swo
*.orig

# Logs and system output
*.log

# IDE or editor-specific folders
.vscode/
.idea/
*.code-workspace

# Compiled or exported archives
*.zip
*.tar
*.gz

# Misc
~$*
